/* NAV */

.imgnav {
  width: 10vw;
}

.btnnav {
  margin: 1rem;
}

.navanch {
  color: white;
  background-color: rgb(48, 52, 75);
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  margin-left: 2rem;
  border: solid 1px white;
  border-radius: 0.5rem;
  width: 10vw;
}

.navanch-active {
  color: rgb(48, 52, 75);
  background-color: white;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  margin-left: 2rem;
  border: solid 5px rgb(224, 4, 108);
  border-radius: 0.5rem;
  width: 10vw;
}

/* CARROUSEL */

.carousel .carousel-item {
  height: 30vh;
}

.carousel-item img {
  object-fit: cover;
  object-position: 0% -1000%;
  top: 0;
  left: 0;
  min-height: 30vh;
}

.h1carrousel {
  color: rgb(224, 4, 108);
  font-size: 7rem;
  -webkit-text-stroke: 5px rgb(48, 52, 52);
  padding-bottom: 3.5rem;
}

/* CHECKFORM */

.checkForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.form-check-input {
  margin-right: 1rem;
}

.form-check {
  display: flex;
  flex-direction: row;
  width: 9vw;
  color: rgb(48, 52, 52);
  font-weight: bold;
}

.form-check>label{
  display: flex;
  flex-direction: row;
}

.searcheck {
  margin: 0;
  padding: 0;
}

.glass {
  width: 1vw;
}

/* MAIN */

main {
  background-color: rgba(224, 4, 107, 0.3);
}

/* CARDS */

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  /* padding: 0.5rem; */
  /*   margin: 1rem; */
}

/* .cards2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
} */

.card {
  color: white;
  background-color: rgb(48, 52, 52);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cardfooter {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.card-img-top {
  height: 40%;
  object-fit: cover;
}

/* CONTACT FORM */

.contact-image {
  background-image: url(../images/carrousel-contact-1.png);
  height: 16vh;
  object-position: 0% -50%;
}

.h1-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 4, 108);
  font-size: 7rem;
  -webkit-text-stroke: 5px rgb(48, 52, 52);
}

.contact-space {
  display: flex;
  justify-content: center;
  min-height: 69vh;
}

.contactDiv {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  height: 50vh;
  width: 50vw;
  background-color: rgb(48, 52, 52);
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 5%;
}

.input-name {
  padding-bottom: 0.5rem;
  color: white;
}

.message-area {
  padding-bottom: 2rem;
  color: white;
}

.input-form {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.message-area {
  padding: 0.2rem;
  color: black;
  max-height: 7rem;
  min-height: 7rem;
  margin-bottom: 1rem;
  resize: none;
}

.submitContact {
  color: white;
  background-color: rgb(48, 52, 75);
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin-left: 47vw;
  border: solid 1px white;
  border-radius: 0.5rem;
  width: 25vw;
}

/* DETAILS */

.detailsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85.4vh;
}

.imgDetails {
  display: flex;
  align-items: center;
}

/* TABLE */

.stats-image {
  background-image: url(../images/carrousel-stats-1.jpg);
  height: 16vh;
  object-fit: cover;
  object-position: 0% 100%;
}

.h1-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(224, 4, 108);
  font-size: 7rem;
  -webkit-text-stroke: 5px rgb(48, 52, 52);
}

.stats-div {
  height: 66vh;
}

.tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 50vh;
}

.table {
  /* height: 80vh;
  width: 80vw; */
  table-layout: fixed;
  margin-bottom: 0;
  color: white;
  background-color: rgb(48, 52, 52);
}

tr,
td {
  border: solid 1px white;
  /*   height: 2rem;
  width: 33%; */
}

th {
  background-color: black;
}

td {
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(48, 52, 52);
}

i {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

.cohort {
  margin: 0;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  color: white;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 767px) {
  .navanch,
  .navanch-active {
    width: 70vw;
    font-size: 1rem;
  }

  .imgnav {
    width: 50vw;
  }

  .stats-image{
    width: 100%;
  }

  .h1-stats{
    font-size: 4.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
  }

/*   .inputsquare{
    width: 5rem !important;
  } */

  .form-check{
    width: 5rem;
  }

  .stats-image{
    width: 100%;
  }

  .h1-contact{
    font-size: 3.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
  }

  .contact-space{
    height: 70vh;
  }

  .contactDiv{
    width: 90vw;
    height:40vh;
  }

  .contactForm{
    width: 90vw;
  }

  .tables{
    width:80%;
    table-layout: fixed;
  }

  .flexCheckDefault {
    font-size: 1rem;
  }


  .checkForm {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-left: 2rem;
  }
  .card {
    margin-bottom: 1rem;
  }

  .cohort {
    font-size: 15px;
  }

  .carousel .carousel-item {
    height: 10vh;
  }

  .statsDiv {
    height: 100vh;
  }

  .tables {
    margin-top: 15vh;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navanch,
  .navanch-active {
    width: 50vw;
    font-size: 1rem;
    margin: 0.3rem;
  }

  .imgnav {
    width: 20vw;
  }

  .flexCheckDefault {
    font-size: 1rem;
  }

  .checkForm {
    flex-direction: column;
    font-size: 1em;
    padding-left: 5rem;
  }
  .card {
    margin-bottom: 1rem;
  }

  .cohort {
    font-size: 15px;
  }

  .carousel .carousel-item {
    height: 10vh;
  }

  .statsDiv {
    height: 100vh;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1919px) {
  .navanch,
  .navanch-active {
    width: 10vw;
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .imgnav {
    width: 15vw;
  }

  .flexCheckDefault {
    font-size: 1rem;
  }

  .checkForm {
    flex-direction: column;
    font-size: 1em;
    padding-left: 5rem;
  }
  .card {
    margin-bottom: 1rem;
  }

  .cohort {
    font-size: 15px;
  }

  .carousel .carousel-item {
    height: 10vh;
  }

  .statsDiv {
    height: 100vh;
  }
}

@media (min-width: 1980px) {

}

